<h1>welcome to your {{platform.name}} </h1>
{{platform.rating}}
{{platform.dateC}}
<h2>These are the top 3 games</h2>
{{#each platform.games}}
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <a href="/platforms/{{../platform._id}}/games/{{_id}}"><h5 class="card-title">{{name}}</h5></a>
        <p class="card-text">Price: $59.99{{price}}</p>

        <form action="/platforms/{{../platform._id}}/games/{{id}}?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
        </form>

       
    </div>
</div>


{{/each}}

<form action="/platforms/{{platform._id}}/games/{{id}}" method="POST">
<label for="name">

<input type="text" name="game">

</label>

<label for="price">

<input type="text" name="price">

</label>
<button>create</button>
</form>